DB_PASS=change_me
NEXTAUTH_SECRET=run_openssl_rand_base64_32
GOOGLE_CLIENT_ID=from_google_cloud_console
GOOGLE_CLIENT_SECRET=from_google_cloud_console
ICECAST_SOURCE_PASSWORD=change_me
ICECAST_ADMIN_PASSWORD=change_me
API_FOOTBALL_KEY=from_api-sports.io
